
.card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        width: 190px;
    height: 90px;
    border-radius: 40px;
    background-color:var(--background-primary) ;
    box-shadow: var(--box-shadow);
    background: lightgrey;
}

.avatar{
    width: 45px;
    height: 45px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    margin : 30px 15px 20px  25px;
    border-radius:14px;
}
.info {
  display: inline-block;
  vertical-align: top;
  margin-top: 33px;
  width: 85px;
}
.button-card {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.button-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button-card:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-card span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}