:root {
  --text-primary: #5A55F4;
  --white-text: #fff;
  --primary-color: #5B5EF7;
  --button-color: #6366f1;
  --background-primary: linear-gradient(180deg,
      #FCFCFE 0%,
      #F7F4FF 45%,
      #F2F0FC 100%);
      --pure-white:#ffffff;
      --text: #6b6375;
      --text-h: #08060d;
      --bg: #fff;
      --border: #e5e4e7;
      --code-bg: #f4f3ec;
      --accent: #aa3bff;
      --accent-bg: rgba(170, 59, 255, 0.1);
      --accent-border: rgba(170, 59, 255, 0.5);
      --social-bg: rgba(244, 243, 236, 0.5);
      --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
      --box-shadow:rgba(130, 122, 235, 0.12) 0 20px 45px,rgba(80, 70, 140, 0.06) 0 4px 12px ;
      --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
      --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
      --mono: ui-monospace, Consolas, monospace;
      --box-shadow: 2px 3px 3px #ba2f2f,
      2px 3px 3px #ff4949;

      font: 18px/145% var(--sans);
      letter-spacing: 0.18px;
      color-scheme: light dark;
      color: var(--text);
      background: var(--bg);
      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      @media (max-width: 1024px) {
      font-size: 16px;
    }
  }